{% load static %}
<footer class="w-full py-5 bg-lightgrayd ">
    <div class="container mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 mt-5 px-9 sm:px-0 xl:px-10  ">
        <div class="col-span-full lg:col-span-1 flex flex-col mb-8 lg:mb-0">
            <div class="grid md:grid-cols-3 lg:grid-cols-1 gap-y-4">
                <div>
                    <img src="{% static 'cdn.baykarmagaza.com/media/images/contents/Mavi-TR.png' %}" class="w-48" alt="" loading="lazy"/>
                </div>
                <div class="flex flex-col items-start justify-start text-left">
                    <p class="text-sm font-semibold text-gray mt-auto whitespace-nowrap">
                        Güvenli Alışveriş
                    </p>
                    <img src="https://cdn.baykarmagaza.com/staticv2/img/svg/visa-master-troy.svg" class="mt-2" style="width: 40%;" alt="" loading="lazy"/>
                </div>
                <div class=" flex items-center mt-2 text-lightgrayg gap-x-2">
                    
                        
                            <a href="https://www.facebook.com/baykarmagaza" target="_blank" class="social-link">
                                <i class="fa-brands fa-facebook-f"></i>
                            </a>
                        
                        
                            <a href="https://twitter.com/baykarmagaza" target="_blank" class="social-link">
                                <i class="fa-brands fa-x-twitter"></i>
                            </a>
                        
                        
                            <a href="https://www.instagram.com/baykarmagaza/" target="_blank" class="social-link">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        
                        
                            <a href="https://www.linkedin.com/company/baykarmagaza/" target="_blank"
                               class="social-link">
                                <i class="fa-brands fa-linkedin-in"></i>
                            </a>
                        
                        
                    
                </div>
            </div>
        </div>
        <div class="flex flex-col items-start lg:items-center pt-4 lg:pt-0">
            <div class="flex w-48 flex-col md:w-auto">
                <p class="my-1 font-semibold text-gray text-md">
                    E-TİCARET
                </p>
                <a class="font-medium text-gray text-xs my-1" href="faq/index.html">
                    Yardım ve S.S.S.
                </a>
                <a class="font-medium text-gray text-xs my-1" href="about/index.html">
                    Hakkımızda</a>
                <a class="font-medium text-gray text-xs my-1" href="privacy/index.html">
                    Gizlilik
                </a>
                <a class="font-medium text-gray text-xs my-1" href="legal2/index.html">
                    Teslimat ve İade
                </a>
                <a class="font-medium text-gray text-xs my-1" href="legal3/index.html">
                    Mesafeli Satış Sözleşmesi 
                </a>
            </div>
        </div>
        <div class="flex flex-col items-start lg:items-center pt-4 lg:pt-0">
            <div class="flex w-48 flex-col md:w-auto">
                <p class="my-1 font-semibold text-gray text-md">MAĞAZA</p>
                
                    <a href="product/product-list/indexd94b.html?category=100,101,102,169,176,168"
                       class="my-1 text-xs font-medium text-gray">
                        GİYİM
                    </a>
                
                    <a href="product/product-list/index3412.html?category=5,19"
                       class="my-1 text-xs font-medium text-gray">
                        MAKET
                    </a>
                
                    <a href="product/product-list/index40d7.html?category=186,187,183"
                       class="my-1 text-xs font-medium text-gray">
                        ÇOCUK GİYİM
                    </a>
                
                    <a href="product/product-list/index80ce.html?category=174,188,17,35,170,171,172,173,175"
                       class="my-1 text-xs font-medium text-gray">
                        AKSESUAR
                    </a>
                
            </div>
        </div>
        <div class="flex flex-col items-start lg:items-center pt-4 lg:pt-0">
            <div class="flex w-48 flex-col md:w-auto">
                <p class="my-1 font-semibold text-gray text-md">
                    İLETİŞİM
                </p>
                <a class="my-1 text-xs font-medium text-primary">
                    Adres:
                    <span class="text-xs font-light">
                        İstanbul
                    </span>
                </a>
                <a href="mailto:info@baykarmagaza.com" class="my-1 text-xs font-medium text-primary">
                    E-posta:
                    <span class="text-xs font-light">
                        info@baykarmagaza.com
                    </span>
                </a>
                <a href="tel:0 212 867 09 00" class="my-1 text-xs font-medium text-primary">
                    Telefon:
                    <span class="text-xs font-light">
                        0 212 867 09 00
                    </span>
                </a>
            </div>
        </div>
    </div>

    <div class="px-10 pt-1 mt-6 -mb-2 mx-auto flex">
        <div class="flex-1 flex justify-center items-center">
            <p class="m-0 text-lightgrayi font-regular text-xs flex flex-wrap items-center justify-center">
                © 2024 BAYKAR TEKNOLOJİ | Tüm hakları saklıdır. |  <a href="https://baykartech.com/tr/kvkk/" target="blank">KVKK</a>
            </p>
        </div>
    </div>
</footer>