{% load static %}
<header class="w-full z-20  bg-white top-0 fixed transition-all duration-300">
    <div class="container mx-auto py-3 lg:px-2">
        <div class="lg:p-3">
            <nav
                class=" w-full p-2 flex flex-row items-center justify-between flex-wrap z-50 transition-all duration-300 ease-out ">
                <button type="button" onclick="toggleMenu()" class="block lg:hidden px-4 text-black focus:outline-none">
                    <svg class="h-6 w-6 fill-current" id="menuIcon" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24">
                        <path id="hamburger" fill-rule="evenodd"
                            d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z" />
                        <path id="cross" class="hidden" fill-rule="evenodd" clip-rule="evenodd"
                            d="M18.278 16.864a1 1 0 01-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 01-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0 011.414-1.414l4.829 4.828 4.828-4.828a1 1 0 111.414 1.414l-4.828 4.829 4.828 4.828z" />
                    </svg>
                </button>
                <div class="flex items-center flex-shrink-0 ml-6 md:ml-0 mr-6">
                    <a class="non-hover no-underline hover:no-underline" href="{% url 'home' %}">
                        <span>
                            <i class="em em-grinning"></i>
                            <div class="w-[175px] h-12 relative">
                                <img id="darkLogo" class="absolute top-1/2 left-0 -translate-y-1/2 w-full"
                                    src="{% static 'cdn.baykarmagaza.com/media/images/contents/Baykar_magaza_Logo.png' %}" alt="Baykar Mağaza"
                                    loading="eager" />
                            </div>
                        </span>
                    </a>
                </div>
                <a onclick="openSideBasket()" id="basketBtn"
                    class="lg:hidden h-full flex items-center py-1 px-3 group rounded transition-all duration-300 text-white hover:text-hoverblue">
                    <button class="flex navActions items-center rounded-md">
                        <div class="relative h-[24px] w-[21px] ">
                            <img id="basketIcon" class="inline absolute inset-full top-0 left-0 "
                                src="https://cdn.baykarmagaza.com/staticv2/img/basketIcon.svg" alt="">
                            <img id="darkBasketIcon" class=" absolute top-0 left-0 inset-full"
                                src="https://cdn.baykarmagaza.com/staticv2/img/darkbasketIcon.svg" alt="">
                            <small class="absolute top-0 right-0 font-semibold">
                                <div class="w-3 h-3 flex items-start justify-center">
                                    <span id="basketCount" class="text-[9px] leading-3">
                                        0
                                    </span>
                                </div>
                            </small>
                        </div>
                    </button>
                </a>
                <div class=" w-full flex-grow  !lg:max-h-full lg:flex lg:items-center lg:w-auto ml-3 md:ml-0 hideNavBar min-h-screen lg:min-h-[10%] transition-all duration-300"
                     id="menuItems">
                    {% if user.is_authenticated %}
                        {% if request.user.is_superuser  %}
                        <ul class="lg:pt-0 list-reset lg:flex justify-center flex-1 items-center">
                            <li class="mr-3 my-2 md:my-0">
                                <a class="font-semibold text-black border-b border-b-transparent hover:text-hoverblue hover:border-hoverblue transition-all duration-300 text-xs pb-0.5 mx-3"
                                   href="{% url 'home' %}" @click="isOpen = false">
                                    ANA SAYFA
                                </a>
                            </li>
                            <li class="mr-3 my-2 md:my-0">
                                <a class="font-semibold text-warning border-b border-b-transparent hover:text-hoverblue hover:border-hoverblue transition-all duration-300 text-xs pb-0.5 mx-3"
                                   href="{% url 'create' %}"
                                   @click="isOpen = false">
                                    ÜRÜN YÜKLE
                                </a>
                            </li>
                            <li class="mr-3 my-2 md:my-0">
                                <a class="font-semibold text-warning border-b border-b-transparent hover:text-hoverblue hover:border-hoverblue transition-all duration-300 text-xs pb-0.5 mx-3"
                                   href="{% url 'products' %}"
                                   @click="isOpen = false">
                                    ÜRÜN DÜZENLE
                                </a>
                            </li>
                            <li class="mr-3 my-2 md:my-0">
                                <a class="font-semibold text-black border-b border-b-transparent hover:text-hoverblue hover:border-hoverblue transition-all duration-300 text-xs pb-0.5 mx-3"
                                   href="{% url 'products' %}"
                                   @click="isOpen = false">
                                    ÜRÜN SİL
                                </a>
                            </li>
                        </ul>
                        {% else %}
                        <ul class="lg:pt-0 list-reset lg:flex justify-center flex-1 items-center">
                            <li class="mr-3 my-2 md:my-0">
                                <a class="font-semibold text-black border-b border-b-transparent hover:text-hoverblue hover:border-hoverblue transition-all duration-300 text-xs pb-0.5 mx-3"
                                   href="{% url 'home' %}" @click="isOpen = false">
                                    ANA SAYFA
                                </a>
                            </li>
                            
                            
                            
                                <li class="mr-3 my-2 md:my-0">
                                    <a class="font-semibold text-black border-b border-b-transparent hover:text-hoverblue hover:border-hoverblue transition-all duration-300 text-xs pb-0.5 mx-3"
                                       href="{% url 'giyim' %}"
                                       @click="isOpen = false">
                                        GİYİM
                                    </a>
                                </li>
                            
                            
                            
                            
                                <li class="mr-3 my-2 md:my-0">
                                    <a class="font-semibold text-black border-b border-b-transparent hover:text-hoverblue hover:border-hoverblue transition-all duration-300 text-xs pb-0.5 mx-3"
                                       href="{% url 'maket' %}"
                                       @click="isOpen = false">
                                        MAKET
                                    </a>
                                </li>
                            
                            
                            
                            
                                <li class="mr-3 my-2 md:my-0">
                                    <a class="font-semibold text-black border-b border-b-transparent hover:text-hoverblue hover:border-hoverblue transition-all duration-300 text-xs pb-0.5 mx-3"
                                       href="{% url 'cocuk' %}"
                                       @click="isOpen = false">
                                        ÇOCUK GİYİM
                                    </a>
                                </li>
                            
                            
                            
                            
                                <li class="mr-3 my-2 md:my-0">
                                    <a class="font-semibold text-black border-b border-b-transparent hover:text-hoverblue hover:border-hoverblue transition-all duration-300 text-xs pb-0.5 mx-3"
                                       href="{% url 'aksesuar' %}"
                                       @click="isOpen = false">
                                        AKSESUAR
                                    </a>
                                </li>
                                <li class="mr-3 my-2 md:my-0">
                                    <a class="font-semibold text-success border-b border-b-transparent hover:text-hoverblue hover:border-hoverblue transition-all duration-300 text-xs pb-0.5 mx-3"
                                       href="{% url 'products' %}"
                                       @click="isOpen = false">
                                        KİRALA
                                    </a>
                                </li>
                        </ul>

                        {% endif %}
                        {% else %}

                    <ul class="lg:pt-0 list-reset lg:flex justify-center flex-1 items-center">
                        <li class="mr-3 my-2 md:my-0">
                            <a class="font-semibold text-black border-b border-b-transparent hover:text-hoverblue hover:border-hoverblue transition-all duration-300 text-xs pb-0.5 mx-3"
                               href="{% url 'home' %}" @click="isOpen = false">
                                ANA SAYFA
                            </a>
                        </li>
                        
                        
                        
                            <li class="mr-3 my-2 md:my-0">
                                <a class="font-semibold text-black border-b border-b-transparent hover:text-hoverblue hover:border-hoverblue transition-all duration-300 text-xs pb-0.5 mx-3"
                                   href="{% url 'giyim' %}"
                                   @click="isOpen = false">
                                    GİYİM
                                </a>
                            </li>
                        
                        
                        
                        
                            <li class="mr-3 my-2 md:my-0">
                                <a class="font-semibold text-black border-b border-b-transparent hover:text-hoverblue hover:border-hoverblue transition-all duration-300 text-xs pb-0.5 mx-3"
                                   href="{% url 'maket' %}"
                                   @click="isOpen = false">
                                    MAKET
                                </a>
                            </li>
                        
                        
                        
                        
                            <li class="mr-3 my-2 md:my-0">
                                <a class="font-semibold text-black border-b border-b-transparent hover:text-hoverblue hover:border-hoverblue transition-all duration-300 text-xs pb-0.5 mx-3"
                                   href="{% url 'cocuk' %}"
                                   @click="isOpen = false">
                                    ÇOCUK GİYİM
                                </a>
                            </li>
                        
                        
                        
                        
                            <li class="mr-3 my-2 md:my-0">
                                <a class="font-semibold text-black border-b border-b-transparent hover:text-hoverblue hover:border-hoverblue transition-all duration-300 text-xs pb-0.5 mx-3"
                                   href="{% url 'aksesuar' %}"
                                   @click="isOpen = false">
                                    AKSESUAR
                                </a>
                            </li>
                            <li class="mr-3 my-2 md:my-0">
                                <a class="font-semibold text-success border-b border-b-transparent hover:text-hoverblue hover:border-hoverblue transition-all duration-300 text-xs pb-0.5 mx-3"
                                   href="{% url 'products' %}"
                                   @click="isOpen = false">
                                    KİRALA
                                </a>
                            </li>
                    </ul>
                    {% endif %}

                    <div
                        class="text-left md:h-8 flex flex-col lg:flex-row lg:items-center gap-3 !md:gap-0 my-4 md:my-2 lg:my-0">
                        {% if user.is_authenticated %}
                            {% if request.user.is_superuser %}
                        <a class="hidden lg:flex h-full  items-center py-1 px-3 group"
                            onmouseover="$(this).find('#userIcon').attr('src','https://cdn.baykarmagaza.com/staticv2/img/userIconBlue.svg')"
                            onmouseleave="$(this).find('#userIcon').attr('src','https://cdn.baykarmagaza.com/staticv2/img/darkuserIcon.svg')"
                            href="{% url "logout" %}">
                            <img src="https://cdn.baykarmagaza.com/staticv2/img/darkuserIcon.svg" alt="" id="userIcon">
                            <p
                                class="font-medium leading-3 tracking-wide text-black group-hover:text-hoverblue text-xs ml-1">
                                
                                 (Admin)  | Çıkış
                                
                            </p>
                        </a>
                            {% else %}
                        <a class="hidden lg:flex h-full  items-center py-1 px-3 group"
                            onmouseover="$(this).find('#userIcon').attr('src','https://cdn.baykarmagaza.com/staticv2/img/userIconBlue.svg')"
                            onmouseleave="$(this).find('#userIcon').attr('src','https://cdn.baykarmagaza.com/staticv2/img/darkuserIcon.svg')"
                            href="{% url "logout" %}">
                            <img src="https://cdn.baykarmagaza.com/staticv2/img/darkuserIcon.svg" alt="" id="userIcon">
                            <p
                                class="font-medium leading-3 tracking-wide text-black group-hover:text-hoverblue text-xs ml-1">
                                
                                {{request.user}}  | Çıkış
                                
                            </p>
                        </a>
                            {% endif %}
                        {% else %}
                        <a class="hidden lg:flex h-full  items-center py-1 px-3 group"
                            onmouseover="$(this).find('#userIcon').attr('src','https://cdn.baykarmagaza.com/staticv2/img/userIconBlue.svg')"
                            onmouseleave="$(this).find('#userIcon').attr('src','https://cdn.baykarmagaza.com/staticv2/img/darkuserIcon.svg')"
                            href="{% url "login" %}">
                            <img src="https://cdn.baykarmagaza.com/staticv2/img/darkuserIcon.svg" alt="" id="userIcon">
                            <p
                                class="font-medium leading-3 tracking-wide text-black group-hover:text-hoverblue text-xs ml-1">
                                
                                Giriş Yap
                                
                            </p>
                        </a>
                        {% endif %}
                        <div class="lg:hidden ">
                            <a class="bg-[#F8F8F8] navActions  flex justify-between items-center py-2  px-3 group rounded-[2px] transition-all duration-300 text-black text-sm"
                                onmouseover="$(this).find('#userIcon').attr('src','https://cdn.baykarmagaza.com/staticv2/img/userIconBlue.svg')"
                                onmouseleave="$(this).find('#userIcon').attr('src','https://cdn.baykarmagaza.com/staticv2/img/darkuserIcon.svg')"
                                 
                                 href="../../account/login/index.html" >
                                <div class="flex flex-row items-center">
                                    <img src="https://cdn.baykarmagaza.com/staticv2/img/darkuserIcon.svg" alt="">
                                    <p class="font-medium leading-3 text-black tracking-wide  text-xs ml-1 ">
                                        
                                        <span>Giriş Yap</span>
                                        
                                    </p>
                                </div>
                                
                            </a>
                            <ul id="altMenu" class="px-9 text-sm bg-[#F8F8F8] navtabs">
                                <li class="mt-2 tab-link" data-tab="account">
                                    <a href="../../accounts/index.html">
                                        <p class="font-medium text-sm mt-2">
                                            Üyelik Bilgilerim
                                        </p>
                                    </a>
                                </li>
                                <li class="mt-3 mb-3 tab-link" data-tab="addresses" onclick="clickMenuBtn(getAddresses)">
                                    <a href="../../accounts/index.html#addresses">
                                        <p class="font-medium text-sm mt-2">
                                            Adres Bilgilerim
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div>
                            

                            <ul id="altOrders" class="lg:hidden px-9 pb-3 text-sm bg-[#F8F8F8] navtabs">
                                <li class="tab-link" data-tab="orders" onclick="clickMenuBtn(getOrders)">
                                    <a href="../../accounts/index.html#orders">
                                        <p class="font-medium text-sm mt-2">
                                            Siparişlerim
                                        </p>
                                    </a>
                                </li>
                                <li class="tab-link" data-tab="return" onclick="clickMenuBtn(getReturns)">
                                    <a href="../../accounts/index.html#return">
                                        <p class="font-medium text-sm mt-2">
                                            İade Taleplerim
                                        </p>
                                    </a>
                                </li>
                                <li class="tab-link" data-tab="comments" onclick="clickMenuBtn(getUnCommented)">
                                    <a href="../../accounts/index.html#comments">
                                        <p class="font-medium text-sm mt-2">
                                            Değerlendirmelerim
                                        </p>
                                    </a>
                                </li>
                                <li class="tab-link" data-tab="favorites" onclick="clickMenuBtn(getFavorites)">
                                    <a href="../../accounts/index.html#favorites">
                                        <p class="font-medium text-sm mt-2">
                                            Favorilerim
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <a onclick="openSideBasket()" class="hidden h-full lg:flex items-center py-1 px-3 group"
                            onmouseover="$(this).find('#basketIcon').attr('src','https://cdn.baykarmagaza.com/staticv2/img/basketIconBlue.svg')"
                            onmouseleave="$(this).find('#basketIcon').attr('src','https://cdn.baykarmagaza.com/staticv2/img/darkbasketIcon.svg')">
                            <button class="flex items-center transition-all ease-out duration-300 rounded-md">
                                <div class="relative h-[24px] w-[21px] ">
                                    <img class="absolute top-0 left-0 inset-full" id="basketIcon"
                                        src="https://cdn.baykarmagaza.com/staticv2/img/darkbasketIcon.svg" alt="">
                                    <small class="absolute top-0 right-0 text-white font-semibold">
                                        <div class="w-3 h-3 flex items-start justify-center">
                                            <span id="basketCountWeb" class="text-[9px] leading-3">
                                                0
                                            </span>
                                        </div>
                                    </small>
                                </div>
                                <p
                                    class="font-medium leading-3 tracking-wide text-black group-hover:text-hoverblue text-xs ml-1">
                                    Sepetim
                                </p>
                            </button>
                        </a>
                        <span id="divider" class="hidden lg:block h-full bg-black py-4 w-px"></span>
                        





<form id="langForm" action="https://baykarmagaza.com/i18n/setlang/" method="POST" class="h-full flex items-center py-1 md:py-2 md:p-1 group rounded transition-all duration-300 hover:bg-hoverblue" ><input type="hidden" name="csrfmiddlewaretoken" value="uLAzV0I5QWMRL3wIGL1B31lNHlPikFgyNU777ttTcZ7S5aeY65jhXNc7vN7fK77b">
    
        
            

<input name="next" type="hidden" value="/tr/product/product-list/?aircraft=1">

    <button type="submit" value="en" name="language"
            onmouseover="$(this).find('#langIcon').attr('src','https://cdn.baykarmagaza.com/staticv2/img/darklangIconBlue.svg')"
            onmouseleave="$(this).find('#langIcon').attr('src','https://cdn.baykarmagaza.com/staticv2/img/darklangIcon.svg')"
            class="flex items-center transition-all duration-300 mx-3 ">
        <a class="flex items-center ">
            <img src="https://cdn.baykarmagaza.com/staticv2/img/darklangIcon.svg" alt="" class="h-full w-full" id="langIcon">
            <p class="font-medium group-hover:text-hoverblue transition-all duration-300 text-xs ml-1">
                EN
            </p>
        </a>
    </button>

        
    
</form>


                    </div>
                    
                </div>
            </nav>
            <div class="hidden md:block"></div>
        </div>
    </div>
</header>



<div id="basketOverlay" class="overlay hidden z-30 fixed inset-0 bg-black opacity-0 transition-all duration-300"></div>

<div id="sideBasket" class="sidenav !z-50 !w-[22.5%] !min-w-[375px] !p-0 translate-x-full">
    <div class=" sticky top-0 right-0 z-20">
        <a class="closebtn" onclick="closeSideBasket()">&times;</a>
    </div>
    <div id="sideBasketProducts" class="max-h-screen h-full">
        

<div class="flex flex-col justify-between h-full">
    <div class="">
        <div class="sticky top-0 pt-5 z-10 bg-white/80 backdrop-blur-md ">
            <p class="text-dark text-md font-bold !tracking-wide px-5">
                ALIŞVERİŞ SEPETİ
            </p>
            <p class="text-lightgrayg text-xs leading-4 tracking-wide px-5" id="productCount" data-count="0">
                0 ÜRÜN
            </p>
            <div class="w-full h-px bg-[#EDEDED] my-5" id="divider"></div>
        </div>
        <div class="basketProducts pb-5 px-5">
            


    <style>
        .divide-y > :not([hidden]) ~ :not([hidden]) {
            --tw-divide-y-reverse: 0;
            border-top-width: 0;
            border-bottom-width: 0;
        }
    </style>
    <img class="mx-auto" src="https://cdn.baykarmagaza.com/staticv2/img/empty-basket.svg" alt="" loading="lazy">
    <p class="text-center uppercase text-sm font-bold text-primary">Sepetiniz boş</p>

        </div>
    </div>
    <div class="sticky bottom-0 pb-0 z-10 bg-white/80 backdrop-blur-sm shadow-[-10px_0_20px_-10px_rgba(100,100,100,1)] ">
        
            <div class="col-span-2 w-full my-3">
                <a href="{% url "giyim" %}" class="!px-5">
                    <button type="button" class="w-full inline-flex items-center justify-center rounded-md border-2 border-transparent bg-primary bg-none px-4 py-4 text-center text-base font-medium text-white transition-all duration-300 ease-in-out focus:shadow hover:bg-hoverblue">
                        ALIŞVERİŞE BAŞLA
                    </button>
                </a>
            </div>
        
   
    </div>
</div>
    </div>
</div>

<script>
    function toggleMenu() {
        let lgBreakpoint = 1280;
        let menuItems = $('#menuItems');
        if ($(window).innerWidth() < lgBreakpoint) {
            menuItems.toggleClass('active');
            if (menuItems.hasClass('active')) {
                menuItems.css('max-height', menuItems[0].scrollHeight + 'px');
            } else {
                menuItems.css('max-height', 0)
            }
        }
        $('#hamburger').toggleClass('hidden');
        $('#cross').toggleClass('hidden');
        $('header').toggleClass('shadow-[0_5px_10px_-5px_rgba(0,0,0,0.1)]');
    }

    const altMenu = document.getElementById("altMenu");
    altMenu.style.display = "none";

    function toggleMyAccount() {

        if (altMenu.style.display === "none") {
            altMenu.style.display = "block";
            altMenu.classList.add("altMenuActive")
        } else {
            altMenu.style.display = "none";

        }
        const caretIcon = document.getElementById('caretIcon');

        if (caretIcon.classList.contains('fa-caret-right')) {
            caretIcon.classList.remove('fa-caret-right');
            caretIcon.classList.add('fa-caret-down');
        } else {
            caretIcon.classList.remove('fa-caret-down');
            caretIcon.classList.add('fa-caret-right');
        }
        caretIcon.style.animation = 'none';
        void caretIcon.offsetWidth;
        caretIcon.style.animation = 'rotateCaret 1s ease';
    }

    const altOrders = document.getElementById("altOrders");
    altOrders.style.display = "none";

    function toggleMyOrders() {

        if (altOrders.style.display === "none") {
            altOrders.style.display = "block";
            altOrders.classList.add("altOrdersActive")
        } else {
            altOrders.style.display = "none";

        }
        const caretIcon = document.getElementById('caretIcon2');

        if (caretIcon.classList.contains('fa-caret-right')) {
            caretIcon.classList.remove('fa-caret-right');
            caretIcon.classList.add('fa-caret-down');
        } else {
            caretIcon.classList.remove('fa-caret-down');
            caretIcon.classList.add('fa-caret-right');
        }
        caretIcon.style.animation = 'none';
        void caretIcon.offsetWidth;
        caretIcon.style.animation = 'rotateCaret 1s ease';
    }

    document.addEventListener('DOMContentLoaded', function () {
        const menuItems = $('#menuItems');
        const langForm = $('#langForm')
        $(window).resize(function () {
            if ($(window).innerWidth() > 1280) {

                menuItems.css('max-height', 'none');
            } else if ($(window).innerWidth() < 1280) {
                if (menuItems.hasClass('active')) {
                    $('#hamburger').removeClass('block').addClass('hidden')
                    $('#cross').removeClass('hidden').addClass('block')
                    menuItems.css('max-height', menuItems[0].scrollHeight + 'px');
                } else {
                    $('#hamburger').removeClass('hidden').addClass('block')
                    $('#cross').removeClass('block').addClass('hidden')
                    menuItems.css('max-height', '0');
                }
            }
        });
        langForm.removeClass('hover:bg-hoverblue')
    });
</script>

<script>
    const clickMenuBtn = (func) => {
        func();
        toggleMenu();
    }
</script>