{% extends "baykarmagaza.com/tr/product/detail/detail.html" %}
{% load static %}
{% block title %}Baykar Mağaza | Ürün Düzenle{% endblock %}
{% block style %}
    .border-input {
        border: 1px solid #e2e8f0; /* İstediğiniz renk ve kalınlıkta border */
        padding: 0.5rem; /* Input alanlarının iç boşluğu */
        border-radius: 0.25rem; /* Köşe yuvarlatma */
        width: 100%; /* Input alanlarının genişliği */
    }
    .btn-submit {
        width: 100%; /* Butonun %100 genişlikte olması */
        padding: 0.75rem; /* Buton içerisindeki boşluk */
        border: 1px solid #2b6cb0; /* İstediğiniz renk ve kalınlıkta border */
        background-color: #2b6cb0; /* Buton arkaplan rengi */
        color: #fff; /* Buton yazı rengi */
        border-radius: 0.25rem; /* Köşe yuvarlatma */
        transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease; /* Geçiş efektleri */
    }
    .btn-submit:hover {
        background-color: #2563eb; /* Hover durumunda arkaplan rengi */
        border-color: #2563eb; /* Hover durumunda border rengi */
    }
{% endblock style %}

{% block content %}
<div class="max-w-md mx-auto mt-10">
    <form action="{% url 'edit' productId=product.pk %}" method="POST" enctype="multipart/form-data" class="bg-white shadow-md rounded-lg px-8 pt-6 pb-8 mb-4">
        {% csrf_token %}
        <div class="mb-4">
            <label for="category" class="block text-gray-700 font-bold mb-2">Kategori</label>
            {{ form.category }}
            {% if form.category.errors %}
                <p class="text-red-500 text-xs italic">{{ form.category.errors }}</p>
            {% endif %}
        </div>
        <div class="mb-4">
            <label for="brand" class="block text-gray-700 font-bold mb-2">Marka</label>
            {{ form.brand }}
            {% if form.brand.errors %}
                <p class="text-red-500 text-xs italic">{{ form.brand.errors }}</p>
            {% endif %}
        </div>
        <div class="mb-4">
            <label for="model" class="block text-gray-700 font-bold mb-2">Model</label>
            {{ form.model }}
            {% if form.model.errors %}
                <p class="text-red-500 text-xs italic">{{ form.model.errors }}</p>
            {% endif %}
        </div>
        <div class="mb-4">
            <label for="details" class="block text-gray-700 font-bold mb-2">Ayrıntılar</label>
            {{ form.details }}
            {% if form.details.errors %}
                <p class="text-red-500 text-xs italic">{{ form.details.errors }}</p>
            {% endif %}
        </div>
        <div class="mb-4">
            <label for="price" class="block text-gray-700 font-bold mb-2">Fiyat</label>
            {{ form.price }}
            {% if form.price.errors %}
                <p class="text-red-500 text-xs italic">{{ form.price.errors }}</p>
            {% endif %}
        </div>
        <div class="mb-4">
            <label for="photo" class="block text-gray-700 font-bold mb-2">Fotoğraf</label>
            {{ form.photo }}
            {% if form.photo.errors %}
                <p class="text-red-500 text-xs italic">{{ form.photo.errors }}</p>
            {% endif %}
        </div>
        <div class="flex items-center justify-between">
            <button type="submit" class="btn-submit">Kaydet</button>
        </div>
    </form>
</div>
{% endblock %}
