{% load static %}
<!DOCTYPE html>
<html lang="tr">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-NPCVHED5XM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-NPCVHED5XM');
</script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    
    <title>Baykar Mağaza | Ürünler</title>
    <meta name="keywords" content=""/>
    <meta name="description" content="1984’ten bu yana Türkiye’nin teknolojik olarak bağımsızlaşması amacıyla yerli ve milli üretimden yana çalışan Baykar, geçtiğimiz 35 yıl içinde Türkiye’de savunma ve havacılık alanında dönüşüm yaratacak bir ivmenin öncüsü haline geldi. Bugün Baykar olarak, otomotiv endüstrisi için adım attığımız mühendislik girişimimizi yeni kuşak mühendislerimizle gökyüzüne taşıyarak dünyanın sayılı insansız hava aracı üreticilerinden biri olmanın gururunu taşıyoruz. Türkiye’nin ilk yerli ve milli İnsansız Hava Araçlarını üretirken en önemli motivasyonumuz her zaman kendi mühendislerimize ve beyin gücümüze güvenmek oldu. 

Baykar’ın Türk Silahlı Kuvvetleri’nin envanterine giren ve yurt dışına ihraç edilen savunma teknolojilerinin başarısında da sürekli üretim ve geliştirme kültürü öncü rol oynuyor. Sanayi ve Teknoloji Bakanlığı’ndan tescilli Baykar Ar-Ge Merkezi’mizde havacılık arenasında paradigma dönüşümü sağlayacak ileri teknolojileri milli ve özgün olarak tasarlamaya odaklanıyoruz. Sonuç odaklı düşünen ve motivasyonu yüksek ekip ruhumuz; Ar-Ge ve üretim süreçlerinin iç içe geçmesiyle yeni teknolojilerin dinamik bir şekilde uygulanmasını sağlıyor. Tasarlamak, yapmak ve üretmek kadar; askeriyle, sanayicisiyle ve toplumun tüm katmanları tarafından insansız ve otonom teknolojilerin sahiplenilmesi için çalışmalarımızı sürdürüyoruz. 

Kendi finanse ettiği Ar-Ge faaliyetleriyle Türk havacılık ve savunma tarihinde ilklere imza atan ve Türkiye’de %93 yerlilik oranına ulaşan Baykar, İnsansız Hava Araçları alanında  dünya çapında en ileri teknolojik sistemleri geliştirmeye devam etmektedir.">
    <meta name="author" content="Baykar Mağaza">


    <link rel="icon" type="image/x-icon" href="{% static 'cdn.baykarmagaza.com/media/uploads/2024/01/15/vruDUNOsqH2fRBLkopqojjoIgw3gA7Uv.png' %}">
    <title>Baykar Mağaza</title>

    <link rel="stylesheet" href="{% static 'cdnjs.cloudflare.com/ajax/libs/Swiper/10.2.0/swiper-bundle.css' %}"
          integrity="sha512-EDXaYrpumQKF+Ic8nuEsgJWBwMOhgwWvNINclFu91nx5VR4MeZ5xlUvyRaYQJTMImwbXSeDjtZMtTs8EB65Z0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="{% static 'cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css' %}"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="{% static 'cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.7.27/sweetalert2.min.css' %}"
          integrity="sha512-IScV5kvJo+TIPbxENerxZcEpu9VrLUGh1qYWv6Z9aylhxWE4k4Fch3CHl0IYYmN+jrnWQBPlpoTVoWfSMakoKA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" type="text/css" href="{% static 'cdn.baykarmagaza.com/staticv2/css/normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'cdn.baykarmagaza.com/staticv2/css/b-store-final-2.css' %}">
    
    <script src="{% static 'cdn.baykarmagaza.com/staticv2/smart-selects/admin/js/bindfields.js' %}"></script>
    <script src="{% static 'cdn.baykarmagaza.com/staticv2/smart-selects/admin/js/chainedfk.js' %}"></script>
    
    <style>
        .overflow-y-scroll::-webkit-scrollbar {
            width: 8px;
        }

        .overflow-y-scroll::-webkit-scrollbar-track {
            background: white;
        }

        .overflow-y-scroll::-webkit-scrollbar-thumb {
            background: #e7e5e5;
            border-radius: 4px;
        }
    </style>

</head>
    <body class="bg-lightgray">
        {% include "includes/headerpages.html" %}
        <div class="container sm:px-2 lg:px-20 mx-auto relative  h-80 md:h-60 mt-[7.5rem] overflow-hidden mb-5 flex items-center">
            <div class="w-full h-80 md:h-60">
                <img src="{% static 'cdn.baykarmagaza.com/media/uploads/2023/12/11/dD1CFlk3syTPN6s8V1IqycDV5fRW980Y.png' %}" class="w-full mx-auto h-full object-cover" alt=""
                     loading="lazy">
            </div>
            <div class="absolute z-10 left-20  left-20 md:left-[180px]">
                <div class="flex">
                    <div>
                        <h3 class="text-white font-semibold text-lg">
                            Bizimle Göklere Çıkmaya<br>Hazır Mısın?
                        </h3>
                        <p class="text-white font-regular text-xs mt-2">
                            Dünden bugüne tüm gücümüzle<br>milli mücadeleye katkı sunmanın<br>gururunu yaşıyoruz.
                        </p>
                    </div>
                    
                </div>
            </div>
        </div>
    

    <div class="container px-2 lg:px-20 mx-auto my-5">
        <div class="container grid grid-cols-1 md:grid-cols-3 lg:grid-cols-5 lg:gap-4 gap-2">
            <div id="filted-container"
                 class="col-span-1 sm:sticky mr-3 lg:mr-0 md:-top-[-4.5rem] lg:-top-[-104px] bg-white w-full px-5 pr-2 self-start md:h-[calc(100vh-6.5rem)] lg:h-[calc(100vh-9rem)] overflow-y-scroll border-y-[.5rem] border-white">
                <div class="flex flex-col w-full self-start bg-white"
                     id="checkboxes">
                     <h3 class="font-semibold text-gray text-md mt-3 mb-2 flex items-center cursor-pointer">
                        <span class="flex-grow">Arama Yap</span>
                        <i class="fa fa-chevron-right transition-all duration-300 md:rotate-90 px-1"></i>
                    </h3>
                     <form method="GET" role="search" action="{% url 'products' %}"><input class="form-control border rounded" name="search" value="{{search}}" style="width:100%;padding-left:5px;border-width:2px;" type="search" placeholder="Buradan aratınız"></form>
                     <h3 class="font-semibold text-gray text-md mt-3 mb-2 flex items-center cursor-pointer">
                        <span class="flex-grow">Hava Aracı</span>
                        <i class="fa fa-chevron-right transition-all duration-300 md:rotate-90 px-1"></i>
                    </h3>
                    <div class="aircraftCategories h-0 md:h-auto md:visible hidden md:block opacity-0 md:opacity-100 pointer-events-none md:pointer-events-auto">    
                        <form method="GET" action="{% url 'products' %}">                   
                            <div class="my-2 flex justify-between items-center">
                                <span>
                                    <input type="checkbox" id="aircraft-1"
                                           name="search"
                                           value="bayraktar tb2"
                                           class="border-0 cursor-pointer aircraft-checkbox"
                                           onchange="this.form.submit()"/>
                                    <label for="1"
                                           class="font-light text-gray text-sm cursor-pointer">
                                        Bayraktar TB2
                                    </label>
                                </span>
                                
                                    <img id="aircraft-1_img"
                                         src="https://cdn.baykarmagaza.com/media/uploads/2023/12/09/oGFZy4EPYpgvC1jBr42xjGS9V9gAWSOj.svg"
                                         loading="lazy"
                                         class="transition-all duration-200 object-contain h-6 w-6" alt=""/>
                                
                            </div>
                        
                            <div class="my-2 flex justify-between items-center">
                                <span>
                                    <input type="checkbox" id="aircraft-2"
                                           name="search"
                                           value="bayraktar akıncı"
                                           class="border-0 cursor-pointer aircraft-checkbox"
                                           onchange="this.form.submit()"/>
                                    <label for="2"
                                           class="font-light text-gray text-sm cursor-pointer">
                                        Bayraktar AKINCI
                                    </label>
                                </span>
                                
                                    <img id="aircraft-2_img"
                                         src="https://cdn.baykarmagaza.com/media/uploads/2023/12/09/p1BvlNoPjXqSip1aBt4cHADLg0TJUe7l.svg"
                                         loading="lazy"
                                         class="transition-all duration-200 object-contain h-6 w-6" alt=""/>
                                
                            </div>
                        
                            <div class="my-2 flex justify-between items-center">
                                <span>
                                    <input type="checkbox" id="aircraft-3"
                                           name="search"
                                           value="bayraktar kızılelma"
                                           class="border-0 cursor-pointer aircraft-checkbox"
                                           onchange="this.form.submit()"/>
                                    <label for="3"
                                           class="font-light text-gray text-sm cursor-pointer">
                                        Bayraktar KIZILELMA
                                    </label>
                                </span>
                                
                                    <img id="aircraft-3_img"
                                         src="https://cdn.baykarmagaza.com/media/uploads/2023/12/09/igR2CLvzPx1bw0UI60Z8ySs7IGNhF23N.svg"
                                         loading="lazy"
                                         class="transition-all duration-200 object-contain h-6 w-6" alt=""/>
                                
                            </div>
                        
                            <div class="my-2 flex justify-between items-center">
                                <span>
                                    <input type="checkbox" id="aircraft-4"
                                           name="search"
                                           value="bayraktar tb3"
                                           class="border-0 cursor-pointer aircraft-checkbox"
                                           onchange="this.form.submit()"/>
                                    <label for="4"
                                           class="font-light text-gray text-sm cursor-pointer">
                                        Bayraktar TB3
                                    </label>
                                </span>
                                
                                    <img id="aircraft-4_img"
                                         src="{% static 'cdn.baykarmagaza.com/media/uploads/2023/12/09/yWkaalhiBOWNtaYF10G0r8JMnP2mY5bq.png' %}"
                                         loading="lazy"
                                         class="transition-all duration-200 object-contain h-6 w-6" alt=""/>
                                
                            </div>
                        
                            <div class="my-2 flex justify-between items-center">
                                <span>
                                    <input type="checkbox" id="aircraft-5"
                                           name="search"
                                           value="bayraktar diha"
                                           class="border-0 cursor-pointer aircraft-checkbox"
                                           onchange="this.form.submit()">
                                    <label for="5"
                                           class="font-light text-gray text-sm cursor-pointer">
                                        Bayraktar DİHA
                                    </label>
                                </span>
                                
                                    <img id="aircraft-5_img"
                                         src="https://cdn.baykarmagaza.com/media/uploads/2023/12/09/e996SQLvsVePJrhSK2WPsriAK30uYXba.svg"
                                         loading="lazy"
                                         class="transition-all duration-200 object-contain h-6 w-6" alt=""/>
                                
                            </div>
                        
                            <div class="my-2 flex justify-between items-center">
                                <span>
                                    <input type="checkbox" id="aircraft-6"
                                           name="search"
                                           value="bayraktar mini iha"
                                           class="border-0 cursor-pointer aircraft-checkbox"
                                           onchange="this.form.submit()"/>
                                    <label for="6"
                                           class="font-light text-gray text-sm cursor-pointer">
                                        Bayraktar Mini İHA
                                    </label>
                                </span>
                                
                                    <img id="aircraft-6_img"
                                         src="https://cdn.baykarmagaza.com/media/uploads/2023/12/09/gvMrco9TBHQJdMoed3uw0PU5AB1Auplf.svg"
                                         loading="lazy"
                                         class="transition-all duration-200 object-contain h-6 w-6" alt=""/>
                                
                            </div>
                        
                            <div class="my-2 flex justify-between items-center">
                                <span>
                                    <input type="checkbox" id="aircraft-7"
                                           name="search"
                                           value="cezeri uçan araba"
                                           class="border-0 cursor-pointer aircraft-checkbox"
                                           onchange="this.form.submit()"/>
                                    <label for="7"
                                           class="font-light text-gray text-sm cursor-pointer">
                                        Cezeri Uçan Araba
                                    </label>
                                </span>
                                
                                    <img id="aircraft-7_img"
                                         src="https://cdn.baykarmagaza.com/media/uploads/2023/12/09/sXag6XBM7xJKrqGNiXUeatR94JqOuPtH.svg"
                                         loading="lazy"
                                         class="transition-all duration-200 object-contain h-6 w-6" alt=""/>
                                
                            </div>
                    </div>
                </form>
                </div>
            </div>
            <div class="md:col-span-2 lg:col-span-4 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-2 lg:gap-4 h-fit relative" id="productsDiv">
                <div class="bg-white p-4 gap-4 grid grid-cols-1 xs:grid-cols-2 lg:grid-cols-4 col-span-4 category-div">
                    {% for product in products %}
                    <div class="max-h-fit min-w-1/6 product_card bg-[#f8f8f8] flex flex-col items-center p-4 cursor-pointer relative transition-all duration-300 hover:z-10 hover:translate-x-1 hover:translate-y-1 hover:shadow-[0_4px_10px_0_rgba(0,0,0,.1)]">
                        <div class="z-0 relative w-full">
                            <div class="w-full relative overflow-hidden">
                                <a href="{% if request.user.is_superuser %}{% url 'edit' product.id %}{% else %}{% url 'product' product.id %}{% endif %}" {% if request.user.is_superuser %}title="Ürünü Düzenle"{% else %}title="Ürün Detayını Görüntüle"{% endif %}>
                                    {% if product.photo %}
                                    <img id="product-240" src="{{product.photo.url}}" class="w-full transition-all duration-300 object-contain" alt="" loading="lazy"/>
                                    {% else %}
                                    <img id="product-240" src="{% static 'img/noimg.png' %}" class="w-full transition-all duration-300 object-contain" alt="" loading="lazy"/>
                                    {% endif %}
                                </a>
                            </div>
                            <div class="w-full mt-3 md:mt-0 md:absolute md:bottom-0 md:translate-y-[45%] flex flex-col justify-start px-5 md:py-5 md:h-auto">
                                <div class="iconContent z-10 flex items-center mx-auto">
                                    <a id="product-detail" href="{% url 'product' product.id %}" title="Ürün Detayını Görüntüle">
                                        <div class="bg-lightgrayf w-8 h-8 rounded-md flex items-center justify-center mx-1 text-primary hover:text-[#FFB057] transition-colors duration-300">
                                            <i class="fa-solid fa-eye text-sm"></i>
                                        </div>
                                    </a>
                                    <a href=" {% if request.user.is_superuser %}{% url 'delete_product' product.id %}{% else %}{% url 'product' product.id %}{% endif %}">{% if request.user.is_superuser %}<button type="button" title="Ürünü Sil">{% else %}<button type="button" title="Sepete Ekle">{% endif %}
                                        <div class="bg-primary w-12 h-12 rounded-md flex items-center justify-center mx-1 hover:bg-[#FFB057] transition-colors duration-300">
                                            <img src="https://cdn.baykarmagaza.com/staticv2/img/basketIcon2.svg" alt="" loading="lazy"/>
                                        </div>
                                    </button></a>
                                    <button type="button" name="favBtn" title="Favorilerime Ekle" onclick="addFavorites(this, 240)">
                                        <div class="favBtn deactiveHeart" id="fav-240">
                                            <i class="fa-solid fa-heart text-sm"></i>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="w-full mt-8 flex flex-col justify-between items-start">
                            <div class="flex items-start text-base">
                                <a href="" title="Ürün Detayını Görüntüle">
                                    <p class="font-medium text-lightgrayg min-h-[3em]">
                                        {{ product.brand }} / {{ product.model }}
                                    </p>
                                </a>
                            </div>
                            <div class="w-full mt-1">
                                <p class="font-semibold text-primary text-center text-base">
                                    {{ product.price }}₺
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            
</div>         
                </div>
            </div>
        </div>
    </div>
{% include "includes/footer.html" %}
<script src="{% static 'code.jquery.com/jquery-3.7.1.min.js' %}"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="{% static 'cdn.jsdelivr.net/npm/inputmask%405.0.9-beta.36/dist/jquery.inputmask.min.js' %}"></script>
<script src="{% static 'cdn.jsdelivr.net/npm/alpinejs%403.13.2/dist/cdn.min.js' %}" integrity="sha256-MAnclv071ggEnpQbfWW6weXXKd5wErU2fZ6yuDYvdPE=" crossorigin="anonymous"></script>
<script src="{% static 'cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.7.27/sweetalert2.min.js' %}"
        integrity="sha512-mJQ9oQHzLM2zXe1cwiHmnMddNrmjv1YlaKZe1rM4J7q8JTnNn9UgeJVBV9jyV/lVGdXymVx6odhgwNZjQD8AqA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'cdnjs.cloudflare.com/ajax/libs/Swiper/10.2.0/swiper-bundle.min.js' %}"
        integrity="sha512-QwpsxtdZRih55GaU/Ce2Baqoy2tEv9GltjAG8yuTy2k9lHqK7VHHp3wWWe+yITYKZlsT3AaCj49ZxMYPp46iJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'cdn.baykarmagaza.com/staticv2/js/base.js' %}"></script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        
    });
</script>

<script>
    function addFavorites(btn, product_id) {
        let submitBtn = $(btn)
        submitBtn.prop('disabled', true);

        $.ajax({
            type: 'POST',
            url: '/tr/product/add/favorite/list/',
            data: {product_id},
            headers: {
                'X-CSRFToken': 'f9NRsaBXFaEeaHPd7mRFqGsm6lEzHeqpyikpEDmL1dZfuOxtxG9lksjGUNWw7Gh2'
            },
            success: function (response) {
                
                $(`#fav-${product_id}`).toggleClass('deactiveHeart activeHeart')
                fireToastDisable(response, submitBtn)

                
                
                
            },
            error: function (response) {
                fireToastDisable(response, submitBtn)
            }
        });
    }
</script>

<script>
    function updateSideBasket() {
        $.ajax({
            type: 'POST',
            url: '/tr/checkout/get-side-basket/',
            headers: {
                'X-CSRFToken': 'f9NRsaBXFaEeaHPd7mRFqGsm6lEzHeqpyikpEDmL1dZfuOxtxG9lksjGUNWw7Gh2'
            },
            success: function (data) {
                $('#sideBasketProducts').html(data);
                let product_count = $('#productCount').attr('data-count')
                 $('#basketCountWeb').html(product_count)
                $('#basketCount').html(product_count)
                 
            },
            error: function () {
                Toast.fire({
                    icon: 'error',
                    title: 'Beklenmedik bir hata oluştu. Lütfen yeniden deneyiniz.'
                })
            }
        });
    }
</script>

<script>
    function getBasketTotal() {
        $.ajax({
            type: 'POST',
            url: '/tr/checkout/get-basket-total/',
            headers: {
                'X-CSRFToken': 'f9NRsaBXFaEeaHPd7mRFqGsm6lEzHeqpyikpEDmL1dZfuOxtxG9lksjGUNWw7Gh2'
            },
            success: function (data) {
                $('#basketTotal').html(data);
            },
            error: function () {
                Toast.fire({
                    icon: 'error',
                    title: 'Beklenmedik bir hata oluştu. Lütfen yeniden deneyiniz.'
                })
            }
        });
    }
</script>

<script>
    function getBasket() {
        $.ajax({
            type: 'POST',
            url: '/tr/checkout/get-basket/',
            headers: {
                'X-CSRFToken': 'f9NRsaBXFaEeaHPd7mRFqGsm6lEzHeqpyikpEDmL1dZfuOxtxG9lksjGUNWw7Gh2'
            },
            success: function (data) {
                $('.basketProducts').html(data);
            },
            error: function () {
                Toast.fire({
                    icon: 'error',
                    title: 'Beklenmedik bir hata oluştu. Lütfen yeniden deneyiniz.'
                })
            }
        });
    }
</script>


<script>
    function addRemoveBasket(btn, url, id) {
        let submitBtn = $(btn);
        submitBtn.prop('disabled', true)

        $.ajax({
            type: 'POST',
            url: url,
            headers: {
                'X-CSRFToken': 'f9NRsaBXFaEeaHPd7mRFqGsm6lEzHeqpyikpEDmL1dZfuOxtxG9lksjGUNWw7Gh2'
            },
            success: function (response) {
                fireToastDisable(response, submitBtn)
                
                updateSideBasket();
                submitBtn.parent().find(('input')).val(response.product_quantity);
                $(`#totalProduct`).html(response.basket_total);
                submitBtn.parent().parent().parent().find('.price').html(response.total_product_price);
            },
            error: function (response) {
                fireToastDisable(response, submitBtn)
            }
        });
    }
</script>

<script>
    function removeFromBasket(url, id) {
        $.ajax({
            type: 'POST',
            url: url,
            data: {id},
            headers: {
                'X-CSRFToken': 'f9NRsaBXFaEeaHPd7mRFqGsm6lEzHeqpyikpEDmL1dZfuOxtxG9lksjGUNWw7Gh2'
            },
            success: function (response) {
                getBasket()
                getBasketTotal();
                updateSideBasket();
                $(`.itemQuantity-${id}`).val(response.product_quantity);
                $(`#totalProduct`).html(response.basket_total);
                $(`.productTotalPrice-${id}`).html(response.total_product_price);
                fireToast(response)
            },
            error: function () {
                Toast.fire({
                    icon: 'error',
                    title: 'Beklenmedik bir hata oluştu. Lütfen yeniden deneyiniz.'
                })
            }
        });
    }
</script>

<script>
    function addBasket(btn, id, attribute) {
        let submitBtn = $(btn)

        $.ajax({
            type: 'POST',
            url: '/tr/checkout/add-to-cart/',
            data: {'product_id': id, 'select_attributes': attribute, 'product_quantity': 1},
            headers: {
                'X-CSRFToken': 'f9NRsaBXFaEeaHPd7mRFqGsm6lEzHeqpyikpEDmL1dZfuOxtxG9lksjGUNWw7Gh2'
            },
            success: function (response) {
                updateSideBasket()
                fireToastDisable(response, submitBtn)
            },
            error: function (response) {
                fireToastDisable(response, submitBtn)
            }
        });
    }
</script>

<script src="{% static 'cdn.baykarmagaza.com/staticv2/js/account.js' %}"></script>
<script>
    function goToTop() {
        window.scrollTo(0, 0);
    }
</script>
<script>
    function getAddresses() {
        $.ajax({
            url: "/tr/accounts/get-addresses",
            success: function (data) {
                $('#userAddresses').html(data);
                goToTop();
            },
            error: function (response) {
                if (response.status === 403 && response.responseJSON.redirect_url) {
                    window.location.href = response.responseJSON.redirect_url;
                } else {
                    Toast.fire({
                        icon: 'error',
                        title: 'Beklenmedik bir hata oluştu.Lütfen yeniden deneyiniz.'
                    })
                }
            }
        });
    }
</script>

<script>
    function getOrders() {
        $.ajax({
            url: "/tr/accounts/get-orders",
            success: function (data) {
                $('#orderProducts').html(data);
                goToTop();
            },
            error: function (response) {
                if (response.status === 403 && response.responseJSON.redirect_url) {
                    window.location.href = response.responseJSON.redirect_url;
                } else {
                    Toast.fire({
                        icon: 'error',
                        title: 'Beklenmedik bir hata oluştu.Lütfen yeniden deneyiniz.'
                    })
                }
            }
        });
    }
</script>

<script>
    function getReturns() {
        $.ajax({
            url: "/tr/accounts/get-returns",
            success: function (data) {
                $('#returnedProducts').html(data);
                goToTop();
            },
            error: function (response) {
                if (response.status === 403 && response.responseJSON.redirect_url) {
                    window.location.href = response.responseJSON.redirect_url;
                } else {
                    Toast.fire({
                        icon: 'error',
                        title: 'Beklenmedik bir hata oluştu.Lütfen yeniden deneyiniz.'
                    })
                }
            }
        });
    }
</script>

<script>
    function getUnCommented() {
        $.ajax({
            url: "/tr/accounts/get-uncommented",
            success: function (data) {
                $('#productComments').html(data);
                $('#commentedBtn').removeClass('bg-hoverblue text-white').addClass(
                    'bg-lightgray text-hoverblue')
                $('#unCommentedBtn').addClass('bg-hoverblue text-white').removeClass(
                    'bg-lightgray text-hoverblue')
                goToTop();
            },
            error: function (response) {
                if (response.status === 403 && response.responseJSON.redirect_url) {
                    window.location.href = response.responseJSON.redirect_url;
                } else {
                    Toast.fire({
                        icon: 'error',
                        title: 'Beklenmedik bir hata oluştu.Lütfen yeniden deneyiniz.'
                    })
                }
            }
        });
    }
</script>

<script>
    function getCommented() {
        $.ajax({
            url: "/tr/accounts/get-commented",
            success: function (data) {
                $('#productComments').html(data);
                $('#commentedBtn').addClass('bg-hoverblue text-white').removeClass(
                    'bg-lightgray text-hoverblue')
                $('#unCommentedBtn').removeClass('bg-hoverblue text-white').addClass(
                    'bg-lightgray text-hoverblue')
                goToTop();
            },
            error: function (response) {
                if (response.status === 403 && response.responseJSON.redirect_url) {
                    window.location.href = response.responseJSON.redirect_url;
                } else {
                    Toast.fire({
                        icon: 'error',
                        title: 'Beklenmedik bir hata oluştu.Lütfen yeniden deneyiniz.'
                    })
                }
            }
        });
    }
</script>

<script>
    function getFavorites() {
        $.ajax({
            url: "/tr/accounts/get-favorites",
            success: function (data) {
                $('#favoriteProducts').html(data);                
                goToTop();
            },
            error: function (response) {
                if (response.status === 403 && response.responseJSON.redirect_url) {
                    window.location.href = response.responseJSON.redirect_url;
                } else {
                    Toast.fire({
                        icon: 'error',
                        title: 'Beklenmedik bir hata oluştu.Lütfen yeniden deneyiniz.'
                    })
                }
            }
        });
    }
</script>


    <script src="{% static 'cdn.baykarmagaza.com/staticv2/js/product_list.js' %}"></script>

    <script>
        $(document).ready(function () {

            $('#checkboxes :checkbox').change(function () {
                $('#checkboxes :checkbox').prop('disabled', true);

                let aircraft = []
                let stars = []
                let categories = [];
                $('.aircraftCategories input:checked').each(function () {
                    aircraft.push($(this).attr('name'));
                });
                $('.ratings input:checked').each(function () {
                    stars.push($(this).attr('name'));
                });
                $('.categories input:checked').each(function () {
                    categories.push($(this).attr('name'));
                });

                $.ajax({
                    url: `/tr/product/product-list/?aircraft=${aircraft}&star=${stars}&category=${categories ? categories : '0'}`,
                    success: function (data) {
                        $('#productsDiv').html(data);
                    },
                    error: function (data) {
                        Toast.fire({
                            icon: 'error',
                            title: 'Beklenmedik bir hata oluştu. Lütfen yeniden deneyiniz.'
                        });
                    },
                    complete: function () {
                        $('#checkboxes :checkbox').prop('disabled', false);
                    }
                });
            })
        })

    </script>
    <script>
        $(document).ready(function () {

            let isAnimating = false;
            $("#checkboxes h3").click(function () {
                if (isAnimating) return;
                isAnimating = true;
                let div = $(this).next('div');
                let icon = $(this).find('i');

                if (div.css('opacity') == '0') {
                    div.css({visibility: 'hidden', position: 'absolute', height: 'auto'});
                    let divHeight = div.height();

                    div.css({visibility: 'visible', position: 'static', height: '0'});

                    div.animate({'opacity': '1', 'height': divHeight}, 300, function () {
                        div.css('pointer-events', 'auto');
                    });
                    div.css('display', 'block');
                    icon.css('transform', 'rotate(90deg)');
                } else {
                    div.animate({'opacity': '0', 'height': '0px'}, 300, function () {
                        div.css({'pointer-events': 'none', 'display': 'none'});
                    });
                    icon.css('transform', 'rotate(0deg)');
                }

                setTimeout(function () {
                    isAnimating = false;
                }, 300);
                setTimeout(adjustOverflow, 310);
            });
        });
    </script>


</body>

<!-- Mirrored from baykarmagaza.com/tr/product/product-list/?aircraft=5 by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 21 Jun 2024 15:37:45 GMT -->
</html>